#offer-section{
    height: auto;
    margin-top: 40px;
}
.offer-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    margin-top: 30px;
    grid-column-gap: 20px;
}

.offer-item-content {
    text-align: center;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    padding: 40px;
}

.offer-item-content i {
    color: white;
}

.offer-item-content i::after {
    border: 2px solid #ff5a6e;
    border-radius: 50%;
    content: "";
    height: 90px;
    position: absolute;
    width: 90px;
    z-index: -1;
    margin-top: -31px;
    margin-left: -76px;
    background-color: #ff5a6e;
}

.offer-item-content h4 {
    font-size: 30px;
    margin-top: 35px;
    color: #323a45;
}

.offer-item-content p {
    font-size: 23px;
    margin-top: 10px;
    line-height: 29px;
}